/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

@font-face {
    font-family: Poppins;
    src: url(assets/Poppins/Poppins-Light.ttf) format("opentype");
  }
html, body { height: 100%; }
body { margin: 0; background: black;}

*{
    font-family: 'Poppins';
}
.width100{
    width: 100% !important;
}

.mat-form-field{
    width: 100%;
    color: white;;
}

.logo{
    width: 8em;
    position: relative;
    top: 0;
    margin: 0 auto;
    padding-bottom: 1em;
}

.quote{
    color: white;
    font-size: 1.6em;
    position: relative;
    top: 2em;
}

.counterText{
    color: white;
    position: absolute;
    top: 3em;
    font-size: 3em;
}

.footer{
    position: absolute;
    bottom: 1em;
    color: white;
}

.form-footer{
    color: white;
    position: relative;
    bottom: -5em;
}

